<table>
  <thead>
    <tr>
      <th>Nummer</th>
    </tr>
  </thead>
  <tbody>
  <% for transaction in @transactions do %>
    <tr>
      <td><%= transaction.execution_date %></td>
      <td><%= transaction.currency%> <%= "%6.2f" % transaction.amount if transaction.amount.present? %></td>
      <td><%= link_to "Details...", transaction_path(transaction) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag({controller: :upload, action: :transactions}, :multipart => true) do %>
  <%= file_field_tag 'transactions' %>
  <%= submit_tag "Upload" %>
<% end %>