<h1>Transaction</h1>

<%= show_for @transaction do |f| %>
    <%= f.attribute :date %>
    <%= f.attribute :amount %>
    <%= f.attribute :summary %>
<% end %>

<% if @transaction.bill.nil? %>
    <%= form_for(Bill.new) do |f| %>
        <%= hidden_field_tag("transaction_id", @transaction.id) %>
        <%= submit_tag "Create Bill" %>
    <% end %>
<% else %>
    <%= link_to "Bill...", bill_path(@transaction.bill) %> |
    <%= link_to @transaction.vendor_name, vendor_path(@transaction.vendor) %>
<% end %>

<%= debug @transaction %>
