<!DOCTYPE html>
<html>
<head>
  <title>Simplemanagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to "Vendors", vendors_path %></li>
  <li><%= link_to "Bills", bills_path %></li>
  <li><%= link_to "Transactions", transactions_path %></li>
  <li><%= link_to "Unattached Transactions (#{Transaction.unattached.count})", transactions_unattached_path %></li>
</ul>


<%= yield %>

</body>
</html>
